@import './global.css';

/* @import './theme.example.css' layer(theme); */

/* @import './theme.example.css' layer(theme) theme(static); */

/* @import './theme.example.dark.css' layer(theme); */

@import './utils.example.css';

@layer base {
}

@layer components {
}

/* all styles should be in some layer! */
@layer utilities {
    /* variant style */
    .demo {
        @variant hocus {
            @apply bg-red-500;
        }
    }
}
