/*
important: use this command to build/watch css in parallel instead of building it directly during next build (which can be slow!) 
npx @tailwindcss/cli -i ./src/app.css -o ./src/_app.css --watch
*/

/* normalize is better */
/* @import 'tailwindcss/preflight'; */
@import 'normalize.css';

@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@plugin '@iconify/tailwind4' {
    /* prefix: iconify; */
    prefixes: mdi, lucide;
    /* scale: 1.2; */
    /* square: false; */
}

@tailwind utilities;
