@property --alarm-color {
    syntax: '<color>';
    inherits: false;
    initial-value: red;
}

/* @theme inline */
/* @theme static */
@theme {
    /* classes bg-test, bg-primary, bg-alarm */
    --color-test: blue;
    --color-primary: blue;
    --color-alarm: var(--alarm-color);
    /* 
    --color-
    --font-
    --text-
    --font-weight-
    --tracking-
    --leading- 
    --breakpoint-
    --container-
    --spacing-
    --radius-
    --shadow-
    --inset-shadow-
    --drop-shadow-
    --blur-
    --perspective-
    --aspect-
    --ease-
    --animate-
    */
    --size-test: 10px;

    /* 
    --color-primary-50: #f0f9ff;
    --color-primary-100: #e0f2fe;
    --color-primary-200: #bae6fd;
    --color-primary-300: #7dd3fc;
    --color-primary-400: #38bdf8;
    --color-primary-500: #0ea5e9;
    --color-primary-600: #0284c7;
    --color-primary-700: #0369a1;
    --color-primary-800: #075985;
    --color-primary-900: #0c4a6e; 
    */

    /* Defaults */

    --spacing-none: 0;
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.25rem;
    --spacing-xl: 1.5rem;

    /* Intent colors */

    /* Primary */
    --color-primary-bg: #2563eb; /* bg-blue-600 */
    --color-primary-text: #ffffff; /* text-white */
    --color-primary-border: #1d4ed8; /* border-blue-700 */

    /* Secondary */
    --color-secondary-bg: #e5e7eb; /* bg-gray-200 */
    --color-secondary-text: #111827; /* text-gray-900 */
    --color-secondary-border: #d1d5db; /* border-gray-300 */

    /* neutral */
    --color-muted-bg: #ffffff; /* bg-white */
    --color-muted-text: #1f2937; /* text-gray-800 */
    --color-muted-border: #d1d5db; /* border-gray-300 */

    /* Success */
    --color-success-bg: #16a34a; /* bg-green-600 */
    --color-success-text: #ffffff; /* text-white */
    --color-success-border: #15803d; /* border-green-700 */

    /* Warning */
    --color-warning-bg: #facc15; /* bg-yellow-500 */
    --color-warning-text: #000000; /* text-black */
    --color-warning-border: #eab308; /* border-yellow-600 */

    /* Danger */
    --color-danger-bg: #dc2626; /* bg-red-600 */
    --color-danger-text: #ffffff; /* text-white */
    --color-danger-border: #b91c1c; /* border-red-700 */

    /* Info */
    --color-info-bg: #bfdbfe; /* bg-blue-200 */
    --color-info-text: #1e3a8a; /* text-blue-900 */
    --color-info-border: #60a5fa; /* border-blue-400 */

    /* Light */
    --color-light-bg: #ffffff; /* bg-white */
    --color-light-text: #111827; /* text-gray-900 */
    --color-light-border: #d1d5db; /* border-gray-300 */

    /* Dark */
    --color-dark-bg: #111827; /* bg-gray-900 */
    --color-dark-text: #ffffff; /* text-white */
    --color-dark-border: #1f2937; /* border-gray-800 */
}
