/*
important: use this command to build/watch css in parallel instead of building it directly during next build (which can be slow!) 
npx @tailwindcss/cli -i ./src/app.css -o ./src/_app.css --watch
*/

@import 'tailwindcss';
/* 
@import 'normalize.css' layer(base);
@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities); 
*/

@custom-variant dark (&:is(.dark *));

@plugin '@tailwindcss/typography';

@plugin 'tailwindcss-animate';

@plugin '@iconify/tailwind4' {
    /* prefix: iconify; */
    prefixes: mdi, tabler, material-symbols, ph, devicon, logos, tdesign, vscode-icons;
    /* scale: 1.2; */
    /* square: false; */
}
