/*
https://tailwindcss.com/docs/preflight
important: use this command to build/watch css in parallel instead of building it directly during next build (which is very slow!) 
npx @tailwindcss/cli -i ./src/app.css -o ./src/_app.css --watch
*/

@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@plugin '@iconify/tailwind4' {
    /* prefix: iconify; */
    prefixes: mdi, lucide;
    /* scale: 1.2; */
    /* square: false; */
}
/* 
@layer theme, base, components, utilities;
@import "./theme.css" layer(theme);
@import "./preflight.css" layer(base);
@import "./utilities.css" layer(utilities); 
*/

@tailwind utilities;

:root {
    /* 
    @property --color-test {
        syntax: "<color>";
        inherits: false;
        initial-value: white;
    } 
    */
}

@theme {
}

@layer components {
}

@layer utilities {
}

/* @utility ... {
    @apply ...    
    @variant ... {
        
    }
} */

@theme {
    /* --color-primary: red; */
    test: red;
}

:root {
}
